
body{
    margin: 0 auto;
    width: 60%;
    background-color:whitesmoke;
}
img{
    width: 28px;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
td{  
    border: 2px solid black;
    empty-cells: show;
    border: 2px solid #7a7;
}       
th{
    border: 2px solid black;
    font-size: 180%;
    empty-cells: show;
    border: 2px solid #7a7;
}
h1{
    color: rgb(3, 3, 3);
    background-color: #2ba754;
    border-radius: 15px;
    text-align: center;
    height: 40px;
    margin: auto;
    width: 60%;   
}
