body{
	background-color: rgb(248, 244, 244);
}	
p{
	font-size:20px; 
	color: black;
}
.direita{
	float: left;
	width: 100%;
}
h1 {
	border-bottom: 3px solid #aaa;
	background-color:green;
	color: #ddd;
	padding: 5px;	
}
h2 {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color:green;
	padding-left: 5px;
	margin: 0 0 0 -15px;
	font-weight: normal;
}
.divtexto1{
	float: right;
	width: 65%;
	border-style: solid;
	border-color: grey;
}
.foto{
	float: left;
	border-radius: 50px;
}
img{
	border-radius: 55%;
}
.divgrande{
	width: 49%;
	float: left;
}
.divmeio{
	width: 2px;
	float: left;
	height: 500px;
}
.divlado{
	width: 49%;
	float: right;
}
.divtotal{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding: 30px 30px 30px 30px;
	border: 1px;
}